.answer-building{
  margin: 1rem 0 1rem;
}

.answer-proposition{
  margin: 1rem 0 2rem;
}

.answer-container{
  margin: 0 auto;
  max-width: 676px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.18);
  border-radius: 2px;

  .characters-place {
    padding: 7rem 0;
  }

  .character{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.43);
    padding: .3rem .8rem;
    margin: 0.3rem 0.4rem;
    box-shadow: 1px 1px 3px 0 #ccc;
    font-weight: bold;
    color: rgba(51, 46, 46, .58);
    cursor: pointer;

    &:hover{
      color: rgba(0, 0, 0, .58)
    }
  }
}
