.next-question {
  margin: 1rem auto;
  max-width: 676px;
  background-color: rgb(78, 183, 76);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: .35rem 0;
  border-radius: 2px;
  font-weight: bold;
}
